<div id="navbar" class="row align-items-center">
  <div class="col-md-3 col-sm-12">
    <img
      class="logo-concafras"
      src="assets/imgs/logos/Logo%20CONCAFRAS.png"
      alt="Logo CONCAFRAS"
    />
  </div>
  <div class="col-md-6 col-sm-12 text-center">
    <span class="span-text-default text-bold">{{ this.projectName }}</span>
  </div>
  <div class="col-md-3 col-sm-12">
    <img
      class="logo-ame"
      src="assets/imgs/logos/Logo%20AME%20nova.png"
      alt="Logo AME"
    />
  </div>
</div>
<div id="products-content">
  <div class="container">
    <div class="row">
      <h1>Ajude o projeto com as cotas!</h1>
      <h2>Cota 10</h2>
      <p>
        Envie <strong>dez livros</strong> e
        <strong>dez revisas</strong> espíritas para Angola. Com
        <strong>R$ 195,00</strong> você faz isso acontecer.
      </p>
    </div>
  </div>
</div>
<div id="checkout">
  <div class="container">
    <div class="row">
      <p>Informações de checkout PagSeguro</p>
    </div>
  </div>
</div>
