<div id="navbar">
  <div class="col-md-3 col-sm-12">
    <img
      class="logo-concafras"
      src="assets/imgs/logos/logo_concafras_sem_fundo.png"
      alt="Logo CONCAFRAS"
    />
  </div>
  <div class="col-md-6 col-sm-12 text-center">
    <span class="text-title-h1 text-color-primary text-bold">
      {{ this.projectName }}
    </span>
  </div>
  <div class="col-md-3 col-sm-12">
    <img class="logo-ame" src="assets/imgs/logos/logo_ame.jpg" alt="Logo AME" />
  </div>
</div>

<!-- CONTEÚDO DOS PRODUTOS -->
<div id="products-content">
  <div id="carouselBanners" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_1.jpg"
          class="d-block w-100"
          alt="Banner de divulgação"
        />
      </div>
    </div>
  </div>
</div>

<!-- CHECKOUT -->
<div id="checkout">
  <div class="container">
    <div class="row">
      <app-payments-methods></app-payments-methods>
    </div>
  </div>
</div>

<!-- QUEM SOMOS -->
<div id="about-us">
  <div id="carouselBannersAboutUs" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_quem_somos.jpeg"
          class="d-block w-100"
          alt="Banner de Quem Somos"
        />
      </div>
    </div>
  </div>
</div>

<!-- NOSSO PROJETO -->
<div id="project">
  <div id="carouselBannersProject1" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_projeto_1.jpeg"
          class="d-block w-100"
          alt="Banner de sobre o projeto"
        />
      </div>
    </div>
  </div>
  <div class="pt-3"></div>
  <div id="carouselBannersProject2" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_projeto_2.jpeg"
          class="d-block w-100"
          alt="Banner de sobre o projeto"
        />
      </div>
    </div>
  </div>
</div>
