#navbar {
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#navbar img {
  max-width: 10rem;
}

#navbar div:first-child {
  text-align: left;
}

#navbar div:last-child {
  text-align: right;
}

#navbar > div {
  margin: 0.1rem 0;
}

#products-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.logo-concafras {
  margin: 1rem 2rem;
}

.logo-ame {
  margin: 1rem 2rem;
}

#about-us,
#project {
  background-color: var(--orange);
  padding-bottom: 1rem;
}

.about-us-content,
.product-content {
  padding: 2rem;
}

#project2 {
  background-color: var(--green);
  padding-bottom: 4rem;
}

img.banner_1 {
  content: url("/assets/imgs/banner_1.jpg");
}

img.banner_quem_somos {
  content: url("/assets/imgs/banner_quem_somos.jpeg");
}

img.banner_project_1 {
  content: url("/assets/imgs/banner_projeto_1.jpeg");
}

/* BREAKPOINTS */
@media only screen and (max-width: 576px) {
  #navbar {
    justify-content: center;
  }

  #carouselBannersProject2 {
    display: none;
  }

  img.banner_1 {
    content: url("/assets/imgs/banner_1_mobile.jpeg");
  }

  img.banner_quem_somos {
    content: url("/assets/imgs/banner_quem_somos_mobile.jpeg");
  }

  img.banner_project_1 {
    content: url("/assets/imgs/banner_projeto_mobile.jpeg");
  }
}
