<div id="navbar">
  <div class="col-md-3 col-sm-12">
    <img
      class="logo-concafras"
      src="assets/imgs/logos/logo_concafras_sem_fundo.png"
      alt="Logo CONCAFRAS"
    />
  </div>
  <div class="col-md-6 col-sm-12 text-center">
    <span class="text-title-h1 text-color-primary text-bold">
      {{ this.projectName }}
    </span>
  </div>
  <div class="col-md-3 col-sm-12">
    <img class="logo-ame" src="assets/imgs/logos/logo_ame.jpg" alt="Logo AME" />
  </div>
</div>

<!-- CONTEÚDO DOS PRODUTOS -->
<div id="products-content">
  <div id="carouselBanners" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_1.jpg"
          class="d-block w-100"
          alt="Banner de divulgação"
        />
      </div>
    </div>
  </div>
</div>

<!-- CHECKOUT -->
<div id="checkout">
  <div class="container">
    <div class="row">
      <app-payments-methods></app-payments-methods>
    </div>
  </div>
</div>

<!-- QUEM SOMOS -->
<div id="about-us">
  <div id="carouselBannersAboutUs" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imgs/banner_1.jpg"
          class="d-block w-100"
          alt="Banner de divulgação"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row about-us-content">
      <span class="text-justify text-color-green text-bold">
        A Concafras e a AME uniram-se mais uma vez para uma importante missão.
        Levar livros espíritas para a África. A Confraternização das Campanhas
        de Fraternidade Auta de Souza – Concafras é um evento anual que teve
        início em 1957. Nas mais de 67 edições realizadas, impactou milhares de
        vidas e já teve mais de 130 mil inscritos. Ao longo dos anos, a atuação
        e objetivos da Concafras se diversificaram. Divulgação da Doutrina
        Espírita, formação de voluntários e confraternização no campo do bem
        formam a marca do evento, que já foi realizado, além do Brasil, em
        países como Honduras, Portugal e Estados Unidos, em momentos diversos. A
        Associação Mundo Espírita (AME), criada em 15 de dezembro 1990, tem por
        objetivo divulgar a Doutrina Espírita de forma ampla pelo mundo por meio
        da distribuição gratuita de livros e mensagens, da realização de
        Caravanas de divulgação, de veículos de comunicação e das mídias
        sociais. Unidas, Concafras e AME têm uma importante missão pela frente:
        levar 8 mil obras para regiões de Angola, em África, e você pode nos
        ajudar.
      </span>
    </div>
  </div>
</div>
