#navbar {
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#navbar img {
  max-width: 10rem;
}

#navbar div:first-child {
  text-align: left;
}

#navbar div:last-child {
  text-align: right;
}

#navbar > div {
  margin: 0.1rem 0;
}

#products-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.logo-concafras {
  margin: 1rem 2rem;
}

.logo-ame {
  margin: 1rem 2rem;
}

#about-us {
  background-color: var(--orange);
}

.about-us-content,
.product-content {
  padding: 2rem;
}

#project {
  background-color: var(--green);
}

/* BREAKPOINTS */
@media only screen and (max-width: 576px) {
  #navbar {
    justify-content: center;
  }
}
