<div id="payments-methods" class="text-center mt-5">
  <div class="text-left">
    <p-messages></p-messages>
  </div>
  <h2 class="text-color-orange">Como prefere ajudar?</h2>
  <div id="typeProduct" class="mt-5">
    <p-card
      header="Cota 10"
      [style]="{ width: '360px', 'background-color': '#E4B35BFF' }"
      styleClass="text-color-green"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="assets/imgs/projeto_africa.jpg"
        />
      </ng-template>
      <p class="text-center text-font-20">
        <strong> Envie 10 livros e 10 revistas espíritas para a África. </strong
        ><br />Valor fixo <br />
        R$195,00
      </p>
      <ng-template pTemplate="footer">
        <hr />
        <p-button
          label="Quero ajudar"
          icon="pi pi-check"
          styleClass="w-100"
          [style]="{ 'background-color': '#51725f', 'border-color': '#51725f' }"
        ></p-button>
      </ng-template>
    </p-card>
    <p-card
      header="Valor avulso"
      [style]="{ width: '360px', 'background-color': '#51725f' }"
      styleClass="text-color-orange"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="assets/imgs/projeto_africa.jpg"
        />
      </ng-template>
      <p class="text-center text-font-20">
        <strong> Contribua com o valor que puder. </strong><br />A partir de
        <br />
        R$30,00
      </p>
      <ng-template pTemplate="footer">
        <hr />
        <p-button
          label="Quero ajudar"
          icon="pi pi-check"
          styleClass="w-100"
          [style]="{ 'background-color': '#e4b35b', 'border-color': '#e4b35b' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<div id="payments-contents" *ngIf="typePayment != ''" class="mt-5">
  <div class="row">
    <div class="col-md-12 col-dm-12">
      <span class="p-float-label">
        <input
          id="fullnameCustomer"
          type="text"
          class="w-100"
          pInputText
          [(ngModel)]="this.customer.name"
        />
        <label htmlFor="fullnameCustomer">Nome completo</label>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <span class="p-float-label">
        <input
          id="emailCustomer"
          type="text"
          class="w-100"
          pInputText
          [(ngModel)]="this.customer.email"
        />
        <label htmlFor="emailCustomer">E-mail</label>
      </span>
    </div>
    <div class="col-md-6 col-sm-12">
      <span class="p-float-label">
        <input
          id="taxIdCustomer"
          type="text"
          class="w-100"
          placeholder="Digite CPF ou CNPJ sem pontuação"
          pInputText
          [(ngModel)]="this.customer.tax_id"
        />
        <label htmlFor="taxIdCustomer">CPF ou CNPJ</label>
      </span>
    </div>
  </div>
  <div *ngFor="let phone of this.customer.phones; index as i" class="row">
    <div class="col-md-12 col-sm-12">
      <span class="p-float-label">
        <p-inputMask
          id="numberPhoneCustomer{{ i }}"
          type="text"
          styleClass="w-100"
          mask="+99 (99) 99999-9999"
          [(ngModel)]="phone.number"
        ></p-inputMask>
        <label htmlFor="numberPhoneCustomer{{ i }}">Telefone</label>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        Quantas cotas 10 gostaria de comprar?
      </span>
      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        [(ngModel)]="this.items[0].quantity"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <button
        pButton
        pRipple
        label="Finalizar"
        class="p-button-success w-100"
        (click)="onSubmit()"
      ></button>
    </div>
  </div>
</div>
