#payments-contents > div.row {
  margin: 1.5rem 0;
}

#typeProduct {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* BREAKPOINTS */
@media only screen and (max-width: 768px) {
  #payments-methods div > div {
    margin: 0.5rem 0;
  }

  #payments-contents > div.row {
    margin: 0;
  }

  #payments-contents div.row > div.col-md-12,
  #payments-contents div.row > div.col-md-6 {
    margin: 1rem 0;
  }
}
